@import url("https://fonts.cdnfonts.com/css/open-sauce-one");

.footer {
  background-color: #05091a;
  padding: 3rem 0;
  color: white;
  width: 100%;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.footer-logo-image {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.footer-links {
  display: flex;
  gap: 12rem;
}

.footer-column h4 {
  font-family: "Open Sauce One", sans-serif;
  font-size: 18px;
  margin-bottom: 1rem;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  margin-bottom: 128px;
}

.footer-column li {
  margin-bottom: 0.5rem;
  font-family: "Open Sauce One", sans-serif;
  font-size: 16px;
  color: #b0b0b0;
}

.footer-social {
  display: flex;
  gap: 1rem;
}

.social-icon {
  font-size: 24px;
  color: #8371e2;
  text-decoration: none;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

.footer-bottom p {
  font-family: "Open Sauce One", sans-serif;
  font-size: 14px;
  color: #b0b0b0;
}

.footer-copyright {
  text-align: center;
  margin-top: 1rem;
  font-family: "Open Sauce One", sans-serif;
  font-size: 14px;
  color: #b0b0b0;
}

/* Tablet (768px até 1024px) */
@media screen and (max-width: 1024px) {
  .footer-links {
    gap: 6rem;
  }

  .footer-container {
    padding: 0 3rem;
  }
}

/* Mobile (até 767px) */
@media screen and (max-width: 767px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 2rem;
  }

  .footer-logo {
    margin-bottom: 2rem;
  }

  .footer-links {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    width: 100%;
  }

  .footer-column {
    width: 100%;
  }

  .footer-column ul {
    margin-bottom: 0;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}
